---
import { getTranslations } from "@i18n";
import DropdownWidget from "@widgets/dropdown_widget/index.astro";
import { LayoutWidget } from "@widgets/layout_widget";
import { LogoWidget } from "@widgets/logo_widget";
import HeaderWidget from "@widgets/nav_widget/index.astro";

import { AboutUsSection } from "./sections/about_us_section";
import { HeroSection } from "./sections/hero_section";
import type { HomeViewPropsType } from "./types";

type Props = HomeViewPropsType;

const { lang, ...props } = Astro.props;

const t = await getTranslations(lang);

const navigationItems = [
  { href: "#about-us", key: "about_us" },
  { href: "#results", key: "results" },
  { href: "#get-in-touch", key: "get_in_touch" },
] as const;
---

<LayoutWidget {...props}>
  <HeaderWidget>
    <a slot="brand" href="#hero">
      <LogoWidget />
    </a>

    {
      navigationItems.map((value) => (
        <a slot="navigation" href={value.href}>
          {t.pages.home.nav.navigation[value.key]}
        </a>
      ))
    }

    <DropdownWidget slot="actions">
      <span slot="trigger">MENU</span>

      <span>A</span>
      <span>B</span>
      <span>C</span>
    </DropdownWidget>
  </HeaderWidget>

  <HeroSection
    title={t.pages.home.sections.hero.title}
    subtitle={t.pages.home.sections.hero.subtitle}
  />

  <AboutUsSection
    title={t.pages.home.sections.about_us.title}
    subtitle={t.pages.home.sections.about_us.subtitle}
    pillars={t.pages.home.sections.about_us.pillars}
    workflow={{
      title: t.pages.home.sections.about_us.workflow.title,
      description: t.pages.home.sections.about_us.workflow.description,
      steps: t.pages.home.sections.about_us.workflow.steps,
    }}
  />
</LayoutWidget>
